:host {
  width: 200px;
  border: 1px solid #eee;
  padding: 15px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  app-cart-item {
    padding: 15px;
    background: lighten(#eee, 5%);
  }
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 15px;
  }
}
