<section>
  <div class="cart-items" *ngIf="cart.products.size; else emptyCart">
    <app-cart-item *ngFor="let product of products"
                   appBgClick="red"
                   [item]="product"
                   (onRemove)="onRemove(product)"
                   (onIncrease)="increaseProduct(product)"
                   (onDecrease)="decreaseProduct(product)">
    </app-cart-item>
    <div class="cart-total">
      <span class="cart-total--label">Total:</span>
      <div class="cart-total--items">
        <div>{{cart.totalCost | currency}}</div>
        <div class="cart-total">{{cart.totalCount}}pcs</div>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>Cart is empty</ng-template>
</section>
